body {
    background-color: black;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.logo img {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.contact-container {
    color: white;
    font-weight: lighter;
    padding: 50px;
    margin-top: 200px;
    text-align: justify;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(45deg, #f73b3b, #f0af38, #f3f31d, #52ff52, #4646fa, #ad45f7, #EE82EE);
    border-image-slice: 1;
    max-width: 1200px;
    margin-left: 70px;
}

.icon-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    gap: 30px; /* Increased the gap for more spacing */
    margin: 10px auto; /* Center the container and provide space around it */
    justify-content: center; /* Center items horizontally */
}

.icon-container a {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: rgb(129, 126, 126); 
}

.icon-container i {
    font-size: 30px;
}

footer {
    text-align: left;
    margin-top: 100px;
    background-color: black;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
}
i
{
    padding: 50px;
}
.contact-container p{
    text-align: center; /* Center the text within the p tag */
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 500px) {
    .icon-container {
        flex-direction: row; /* Change to a column layout on smaller screens */
        align-items: center; /* Center items horizontally on smaller screens */
    }
    
     .contact-container
     {
        text-align: center; /* Center the text within the p tag */
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
     }
     .footer {
        /* padding: 10px; Adjust padding for small screens */
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    
    .logo {
        transform: none;
        left: 43%;
    }

    .logo img {
        width: 40%;
    }

    nav {
        text-align: left;
        font-size: 12px;
    }

    .navbar {
        flex-direction: column;
        
    }
}
