/* Add your custom CSS styles here */

body, html {
    height: 100%;
}

.navbar {
    text-align: center; /* Center the navigation links */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: smaller;
    padding: 10px;
}

.navbar img {
    /* Make the logo width 100% of its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 70%; /* Limit the maximum width of the logo */
    display: block; /* Center the logo */
    margin: 0 auto;
}

.cta-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

hr {
    border-top: 3px solid white;
}

hr.my-4 {
    margin-top: 0;
}

footer {
    text-align: left;
    padding-top: 50px;
    background-color: black;   
    font-size: 16px;
}

.btn {
    background-color: black;
    margin-top: 10px;  
    text-align: center;
    margin-bottom: 80px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.who-we-are {
    font-size: 20pt;
    padding-top: 50px;
    padding-bottom: 20px;
}

.custom2-container {
    background-color: #A7A5A5;
    padding-bottom: 150px;
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.nav-and-cta {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 150px;
    
    margin-bottom: -165px; /* Adjust as needed to eliminate space */
}

.cta-paragraph {
    margin-top: 70px; /* Adjust as needed */
}

.cta-btn {
    margin-top: 10px;
    border: 2px solid #71B551;
    background-color: transparent;
    text-align: center;
    margin-bottom: 80px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.cta-btn:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 576px) {
    .navbar img {
        max-width: 50%; /* Adjust the maximum width for smaller screens */
    }
    .navbar a {
        padding: 5px;
    }
}
